<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h3 class="mb-0">GANDHIGRAM RURAL UNIVERSITY, Dindigul, Tamilnadu, India.</h3>
                <div class="subheading mb-3">MASTER OF COMPUTER APPLICATION (MCA)</div> 
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2005 - May 2008</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h3 class="mb-0">MS UNIVERSITY, Tirunelveli, Tamilnadu, India.</h3>
                <div class="subheading mb-3">BACHELOR OF SCIENCE (B.SC COMPUTER SCIENCE)</div> 
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2002 - May 2005</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h3 class="mb-0">CM HIGH SECONDARY SCHOOL, Thoothukudi, Tamilnadu, India.</h3>
                <div class="subheading mb-3">HSC</div> 
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2000 - May 2002</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h3 class="mb-0">CM HIGH SECONDARY SCHOOL, Thoothukudi, Tamilnadu, India.</h3>
                <div class="subheading mb-3">SSLC</div> 
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 1999 - May 2000</span></div>
        </div>
    </div>
</section>