<section class="resume-section" id="dossier" [@openClose]>
    <div class="resume-section-content">
        <h2 class="mb-5">PERSONAL DOSSIER</h2>
        <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><strong>Gender:</strong> Male</li>
            <li><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><strong>Nationality:</strong> Indian</li> 
            <li><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><strong>Languages Proficiency:</strong> English, Tamil</li>
            <li><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><strong>Passport Holder:</strong> Yes</li>
            <li><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><strong>Social Profile:</strong> <a href="https://www.linkedin.com/in/ramprabhu-l-85409980/" target="_blank" class="m-2">https://www.linkedin.com/in/ramprabhu-l-85409980/</a></li> 
        </ul>
    </div>
</section>
