// 
// Variables
// 

@import "./variables/colors.scss";
@import "./variables/typography.scss";
@import "./variables/spacing.scss";
$secondary:#357edc;
$third:#bd5d38;
.text-secondary
{
    color: $secondary !important;
}
.text-third
{
    color: $third !important;
}
h2
{
    color: $primary !important;
}
h3
{
    color: $third !important;
}
div.accordion-body
{ 
    padding: 0 1.25rem !important;
} 
.accordion-button.h4
{
    color: $third !important;
    font-size: 1.25rem !important;
    padding: 0.5rem 0.75rem !important;
    margin-bottom: 0 !important;
} 
p
{
    margin-bottom: 0 !important;
    line-height: 26px;
}
.jobseeker-image
{ 
    display: block;
}
.jobseeker-name
{
    display:none;
}
a.download-resume
{
    margin: 0 auto;
    color: #fff;
    text-align: center;
    width: 200px;
    display: block !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  
    .jobseeker-image
    { 
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    .jobseeker-name
    {
        display: inline-block;
        position: relative;
        top: -3px;
    } 
    section.resume-section { 
        padding-top: 2rem !important; 
    }
    a.download-resume
    {
        width: 300px;
        margin:0 auto 10px;
    }
  }
//   .show {
//     display: block !important;
//   } 

//   .hide {
//     display: none !important;
//   } 
 