<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>&#11166; When I'm not busy crafting beautiful and functional websites, you can find me indulging in my love for the great outdoors. Whether it's the exhilarating freedom of riding my bike or the thrilling challenge of free climbing, the natural world is my playground.</p>

        <p>&#11166; On those inevitable indoor days, I dive into the captivating realms of sci-fi and fantasy movies and TV shows, feeding my imagination. My culinary adventures continue as I experiment in the kitchen, honing my skills as an aspiring chef.</p>
        
        <p>&#11166; Driven by a relentless curiosity, I stay ahead of the curve by exploring the latest innovations in front-end web development. Always eager to learn and grow, I'm constantly on the lookout for new technologies to master and incorporate into my work.</p>
    </div> 
</section>  